# PROD values for layers-db-etl.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: abort-upload-if-indicators-endpoint-output-is-wrong.31895d8.1
  usePullSecret: false
  pullSecretName: none

replicas: 1
envName: prod

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

pgHost: db-layers-primary.prod-layers-db.svc
