# PROD values for layers-db-etl.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: main.52edb14.1
  usePullSecret: false
  pullSecretName: none

replicas: 2
envName: prod

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

pgHost: paris.k8s-01.kontur.io