# PROD values for layers-db-etl.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: main.2e3a5e0.1
  usePullSecret: false
  pullSecretName: none

replicas: 1
envName: prod

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

pgHost: db-layers-primary.prod-layers-db.svc
