# DEV values for layers-db-etl.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: 21219-oam-indicators-reload-into-database-too-often.e9a2dcb.1
  usePullSecret: false
  pullSecretName: none

replicas: 1
envName: dev

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

pgHost: db-layers-primary.dev-layers-db.svc
