# TEST values for layers-db-etl.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: codex-update-insights_axis_to_univariate-script.d143177.1
  usePullSecret: false
  pullSecretName: none

replicas: 1
envName: test

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

pgHost: db-layers-primary.test-layers-db.svc
