# TEST values for layers-db-etl.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: main.52edb14.1
  usePullSecret: false
  pullSecretName: none

replicas: 1
envName: test

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

pgHost: london.k8s-01.kontur.io