{{ if .Values.createResource.defaultSecrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.envName }}-layers-tiles-api
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: layers-tiles-api
    app.kubernetes.io/instance: {{ .Values.envName }}-layers-tiles-api
    app.kubernetes.io/managed-by: "Helm"
    stage: {{ .Values.envName }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  DATABASE_URL: cG9zdGdyZXNxbDovL2xheWVycy10aWxlcy1hcGk6cGFzc3dvcmRAaG9zdC5kb2NrZXIuaW50ZXJuYWwvbGF5ZXJzLWRi # = postgresql://layers-tiles-api:password@host.docker.internal/layers-db
---
{{ end }}