apiVersion: v1
data:
  OTEL_LOGS_EXPORTER: none
  OTEL_METRICS_EXPORTER: none
  OTEL_TRACES_EXPORTER: {{ .Values.otlpTracesExporter }}
  management.endpoint.health.probes.enabled: "true"
  management.endpoints.web.path-mapping.prometheus: metrics
  management.server.port: {{ .Values.management.port | quote }}
  spring.datasource.url: jdbc:postgresql://{{ .Values.databaseHost }}:{{ .Values.databasePort }}/layers-db
  spring.datasource.username: layers-api
  spring.security.oauth2.resourceserver.jwt.issuer-uri: {{ .Values.jwtIssuerUri }}
  spring.security.oauth2.resourceserver.jwt.jwk-set-uri: {{ .Values.jwtJwkSetUri }}
kind: ConfigMap
metadata:
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/instance: {{ .Values.envName }}-layers-api
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: layers-api
    stage: {{ .Values.envName }}
  name: {{ .Values.envName }}-layers-api
  namespace: {{ .Release.Namespace }}