createResource:
  defaultSecrets: false
  ingress: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15
ENV_NAME: dev
ingressHost: dev-epig.k8s-01.konturlabs.com
ingressClass: ingress-nginx
SITE_URL: https://test-apps-ninja02.konturlabs.com/active/
APP_ID: 'c5ecc65b-1e7e-4e31-92a4-222fadeaeef0'
TIMEOUT: 8000
CACHE_TTL: 120
DEBUG: TRUE
#DEFAULT_IMAGE_URL: "https://test-apps-ninja02.konturlabs.com/active/static/assets/preview_screenshot.png"

containers:
  pullSecretName: none
  usePullSecret: false
  chromium_headless:
    replicas: 1
    tag: codex-improve-chromium-start-options.bddf3a0.1
  preview_generator:
    replicas: 1
    tag: codex-improve-chromium-start-options.bddf3a0.1
  redis:
    replicas: 1
    tag: "7-alpine3.16"
resources:
  chromium:
    requests:
      cpu: 500m
