# Default values for insights-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: latest
  tagType: ""
  name: nexus.kontur.io:8084/konturdev/insights-api
  usePullSecret: true
  pullSecretName: nexus8084

port: 8625
replicas: 1
envName: local
ingressHost: none

management:
  port: 8082

createResource:
  defaultSecrets: false
  ingress: false
  prometheusRule: false
  serviceMonitor: false
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 20
timeoutSeconds: 1200

resources:
  app:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 16Gi
  redis:
    requests:
      cpu: 100m
      memory: 512M
    limits:
      memory: 16G

databaseHost: host.docker.internal
databasePort: 8900
databaseName: insights-api
databaseUsername: insights-api
databaseMaximumPoolSize: 20
jmxEnabled: true
alertingTime: 10m

keycloakUrl: 'https://dev-keycloak.k8s-01.konturlabs.com'
keycloakRealm: dev

otlpTracesExporter: none
otlpTracesPort: 4317

client_max_body_size: 100g
proxy_read_timeout: 600s

k8s_cluster_flavor: default # value may be substituted in a Flux pipeline
