apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.envName }}-disaster-ninja-be
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: disaster-ninja-be
    app.kubernetes.io/instance: {{ .Values.envName }}-disaster-ninja-be
    app.kubernetes.io/managed-by: "Helm"
    stage: {{ .Values.envName }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: disaster-ninja-be
      app.kubernetes.io/instance: {{ .Values.envName }}-disaster-ninja-be
      #don't add app.kubernetes.io/version
      app.kubernetes.io/managed-by: "Helm"
      stage: {{ .Values.envName }}
  replicas: {{ .Values.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app.kubernetes.io/name: disaster-ninja-be
        app.kubernetes.io/instance: {{ .Values.envName }}-disaster-ninja-be
        app.kubernetes.io/managed-by: "Helm"
        stage: {{ .Values.envName }}
      annotations:
        meta.helm.sh/release-name: {{ .Release.Name }}
        meta.helm.sh/release-namespace: {{ .Release.Namespace }}
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }} #only roll pods if config (rendered!) changed
    spec:
      containers:
      - name: disaster-ninja-be
        image: {{ .Values.image.be.repository }}:{{ .Values.image.be.tag }}
        imagePullPolicy: {{ .Values.image.be.pullPolicy }}
        ports:
          - containerPort: {{ .Values.service.port }}
            name: be-main
        resources:
          requests:
            cpu: {{ .Values.resources.main.requests.cpu | quote }}
            memory: {{ .Values.resources.main.requests.memory | quote }}
          limits:
            #TODO cpu
            memory: {{ .Values.resources.main.limits.memory | quote }}
        env:
          - name: JAVA_TOOL_OPTIONS
            value: {{ .Values.java_tool_options }}
          - name: NOTIFICATIONS_ENABLED
            value: "false"
          - name: OTEL_SERVICE_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['app.kubernetes.io/instance']
          - name: MY_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
            value: "http://$(MY_NODE_NAME):{{ .Values.otlpTracesPort }}"
        envFrom:
        - configMapRef:
            name: {{ .Values.envName }}-disaster-ninja-be
        - secretRef:
            name: {{ .Values.envName }}-disaster-ninja-be
        readinessProbe:
          httpGet:
            path: /active/api/health/readiness
            port: {{ .Values.service.port }}
          failureThreshold: 1
          periodSeconds: 10
          initialDelaySeconds: 5
        {{ if .Values.createResource.deploymentLivenessProbe }}
        livenessProbe:
          httpGet:
            path: /active/api/health/readiness
            port: {{ .Values.service.port }}
          failureThreshold: 10
          periodSeconds: 10
          initialDelaySeconds: 5
        {{ end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.envName }}-disaster-ninja-be-notifier
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: disaster-ninja-be-notifier
    app.kubernetes.io/instance: {{ .Values.envName }}-disaster-ninja-be-notifier
    app.kubernetes.io/managed-by: "Helm"
    stage: {{ .Values.envName }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: disaster-ninja-be-notifier
      app.kubernetes.io/instance: {{ .Values.envName }}-disaster-ninja-be-notifier
      #don't add app.kubernetes.io/version
      app.kubernetes.io/managed-by: "Helm"
      stage: {{ .Values.envName }}
  {{ if .Values.notificationsEnabled }}replicas: 1
  {{ else }}replicas: 0{{ end }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app.kubernetes.io/name: disaster-ninja-be-notifier
        app.kubernetes.io/instance: {{ .Values.envName }}-disaster-ninja-be-notifier
        app.kubernetes.io/managed-by: "Helm"
        stage: {{ .Values.envName }}
      annotations:
        meta.helm.sh/release-name: {{ .Release.Name }}
        meta.helm.sh/release-namespace: {{ .Release.Namespace }}
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }} #only roll pods if config (rendered!) changed
    spec:
      containers:
      - name: disaster-ninja-be-notifier
        image: {{ .Values.image.be.repository }}:{{ .Values.image.be.tag }}
        imagePullPolicy: {{ .Values.image.be.pullPolicy }}
        ports:
          - containerPort: {{ .Values.service.port }}
            name: be-main
        resources:
          requests:
            cpu: {{ .Values.resources.notifier.requests.cpu | quote }}
            memory: {{ .Values.resources.notifier.requests.memory | quote }}
          limits:
            #TODO cpu
            memory: {{ .Values.resources.notifier.limits.memory | quote }}
        env:
          - name: JAVA_TOOL_OPTIONS
            value: {{ .Values.java_tool_options }}
          - name: NOTIFICATIONS_ENABLED
            value: "true"
          - name: OTEL_SERVICE_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['app.kubernetes.io/instance']
          - name: MY_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
            value: "http://$(MY_NODE_NAME):{{ .Values.otlpTracesPort }}"
        envFrom:
        - configMapRef:
            name: {{ .Values.envName }}-disaster-ninja-be
        - secretRef:
            name: {{ .Values.envName }}-disaster-ninja-be
        readinessProbe:
          httpGet:
            path: /active/api/health/readiness
            port: {{ .Values.service.port }}
          failureThreshold: 1
          periodSeconds: 10
          initialDelaySeconds: 5
        {{ if .Values.createResource.deploymentLivenessProbe }}
        livenessProbe:
          httpGet:
            path: /active/api/health/readiness
            port: {{ .Values.service.port }}
          failureThreshold: 10
          periodSeconds: 10
          initialDelaySeconds: 5
        {{ end }}
---
