apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.envName }}-disaster-ninja-be
  namespace: {{ .Values.envName }}-disaster-ninja-be
  labels:
    app.kubernetes.io/name: disaster-ninja-be
    app.kubernetes.io/instance: {{ .Values.envName }}-disaster-ninja-be
    app.kubernetes.io/version: {{ .Chart.Version }}
    app.kubernetes.io/managed-by: "Helm"
    stage: {{ .Values.envName }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    cert-manager.io/cluster-issuer: letsencrypt-production #use letsencrypt-staging for testing
    acme.cert-manager.io/http01-edit-in-place: "true" #required otherwise ACME challenge can't be completed
    nginx.org/location-snippets: |
        if ($request_method = 'OPTIONS') {
          add_header Access-Control-Allow-Origin 'https://{{ .Values.envName }}-disaster-ninja-fe.k8s-01.konturlabs.com';

          add_header Access-Control-Allow-Credentials 'true';
          add_header Access-Control-Allow-Methods *;

          add_header Access-Control-Allow-Headers 'Authorization,Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type';

          add_header Access-Control-Max-Age 86400;
          add_header Content-Type 'text/plain charset=UTF-8';
          add_header Content-Length 0;
          return 204;
        }

        add_header Access-Control-Allow-Origin 'https://{{ .Values.envName }}-disaster-ninja-fe.k8s-01.konturlabs.com';
        add_header Access-Control-Allow-Credentials 'true';
        add_header Access-Control-Allow-Methods *;
        add_header Access-Control-Allow-Headers 'Authorization,Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type';
spec:
  tls:
  - hosts:
    - {{ .Values.envName }}-disaster-ninja-be.k8s-01.konturlabs.com
    secretName: {{ .Values.envName }}-disaster-ninja-be-tls # < cert-manager will store the created certificate in this secret.
  ingressClassName: nginx
  rules:
  - host: {{ .Values.envName }}-disaster-ninja-be.k8s-01.konturlabs.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.envName }}-disaster-ninja-be
            port:
              number: {{ .Values.service.port }}
---