{{ if .Values.createResource.defaultSecrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.envName }}-disaster-ninja-be
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: disaster-ninja-be
    app.kubernetes.io/instance: {{ .Values.envName }}-disaster-ninja-be
    app.kubernetes.io/managed-by: "Helm"
    stage: {{ .Values.envName }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
    kontur.platform.keycloak.username: ZGlzYXN0ZXIubmluamE= # = 'disaster.ninja'
    kontur.platform.keycloak.password: cGFzc3dvcmQ= # = 'password'
    notifications.slackWebHook: bm9uZQ== # = 'none'
    notifications.smtpHost: bm9uZQ== # = 'none'
    notifications.smtpPort: bm9uZQ== # = 'none'
    notifications.smtpUsername: bm9uZQ== # = 'none'
    notifications.smtpPassword: bm9uZQ== # = 'none'
    notifications.sender: bm9uZQ== # = 'none'
    notifications.recipients: bm9uZQ== # = 'none'
    notifications.konturUrlPattern: bm9uZQ== # = 'none'
    payments.paypal.client-id: bm9uZQ== # = 'none'
    payments.paypal.client-secret: bm9uZQ== # = 'none'
---
{{ end }}