bases:
  - ../../base
namespace: prod-insights-api

patchesJson6902:
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-insights-api
    path: postgrescluster-s3-backups.yaml
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-insights-api
    path: postgrescluster-custom-image.yaml
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-insights-api
    path: postgrescluster-pgbackrest-adjustment.yaml
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-insights-api
    path: postgrescluster-instances.yaml

generatorOptions:
  disableNameSuffixHash: true
