{{ if .Values.createResource.defaultSecrets }}
apiVersion: v1
data:
    SPRING_DATASOURCE_PASSWORD: cGFzc3dvcmQ= # = 'password'
    SENTRY_DSN: c2VjcmV0Cg== # base64 for 'secret'
kind: Secret
metadata:
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/instance: {{ .Values.envName }}-user-profile-api
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/name: user-profile-api
    stage: {{ .Values.envName }}
  name: {{ .Values.envName }}-user-profile-api
  namespace: {{ .Release.Namespace }}
{{ end }}