# PROD values for insights-api-db-svc.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: release-0.1.6.2799cad.1
  tagType: ""
  pullSecretName: none
  usePullSecret: false

replicas: 1
envName: prod

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

databaseHost: db-insights-api-primary.prod-insights-api.svc
databasePort: 5432
databaseName: insights-api
databaseUsername: insights-api

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 16Gi

maxParallelTasks: 8
runCorrelations: false
insightsApiUrl: http://prod-insights-api.prod-insights-api.svc:8625/insights-api
