# DEV values for insights-api-db-svc.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: release-0.1.17.b3a4fc4.1
  tagType: ""
  pullSecretName: none
  usePullSecret: false

replicas: 1
envName: dev

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

databaseHost: db-insights-api-primary.dev-insights-api.svc
databasePort: 5432
databaseName: insights-api
databaseUsername: insights-api

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 16Gi

taskTimeout: 48h
maxParallelTasks: 12
runCorrelations: false
insightsApiUrl: http://dev-insights-api.dev-insights-api.svc:8625/insights-api
