# DEV values for disaster-ninja-fe.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2
envName: dev
ingressHosts:
  - api.kontur.io
ingressClass: ingress-nginx

createResource:
  ingress: true
  prometheusRule: true
  serviceMonitor: true
isOfflineInstallation: false

client_max_body_size: 100m
