{{ if ne .Values.envName "local" }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: k8s
    role: alert-rules
  name: {{ .Values.envName}}-osrm-cronjob
  namespace: {{ .Release.Namespace }}
spec:
  groups:
    - name: PlatformCronJobFailed
      rules:
        - alert: {{ camelcase .Values.envName }}-PlatformCronJobFailed-OSRM
          annotations:
            message: 'OSRM Job {{ "{{$labels.job_name}}" }} failed in {{ .Release.Namespace }} namespace'
            summary: OSRM CronJob Failed
          expr: |
            kube_job_failed{condition="true", namespace="{{ .Release.Namespace }}" }
            > 0
          labels:
            severity: critical
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: k8s
    role: alert-rules
  name: {{ .Values.envName}}-osrm-platform-pods
  namespace: {{ .Release.Namespace }}
spec:
  groups:
    - name: PlatformPodsUnavailable
      rules:
        - alert: {{ camelcase .Values.envName }}-PlatformPodsUnavailable-OSRM
          annotations:
            message: 'There are {{ "{{$value}}" }} Ready pods in {{ .Release.Namespace }} namespace'
            summary: There are less Ready pods than required
          expr: |
            kube_deployment_status_replicas_ready{deployment="{{ .Values.envName }}-osrm"}
            < 1
          for: {{ .Values.alertingTime }}
          labels:
            severity: critical
{{ end }}