envName: dev

createResource:
  ingress: true
isOfflineInstallation: false
ingressHost: dev-basemap-tileserver.k8s-01.konturlabs.com
ingressClass: ingress-nginx

tileserver:
  replicas: 1
  image: 'nexus.kontur.io:8084/maptiler/tileserver-gl'
  tag: 'v4.4.0'
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                  - hwn01.k8s-01.kontur.io

basemap:
  # NOTE: when cluster runs on 3 nodes, to avoid resources starvation:
  #   1) either only *one* of dev/test/prod could be unsuspended
  #   2) or processing schedules of dev/test/prod should be coordinated to prevent simultaneous execution
  # suspend: true # until image will be fixed, see #19951 and #19959
  processingSchedule: "20 15 * * *" # Run once in 2 days at midnight
  s3:
    path: s3://basemap-locker01/DEV
    url: https://basemap-locker01.s3.eu-central-1.amazonaws.com/DEV
    host: basemap-locker01.s3.eu-central-1.amazonaws.com
  renderer:
    image: "nexus.kontur.io:8084/konturdev/build-basemap"
    tag: "19959-basemap-generator-image-is-broken-in-dev-test-prod.439ef1d.1"
  db:
    image: "nexus.kontur.io:8084/postgis/postgis"
    tag: "15-3.3"
  # NOTE: node affinity is determined by cluster management policy
  #       we intentionally restrict basemaps into single node
  #       to reduce interference with critical user-facing workloads
  affinity: # temporary stick to hwn02, see #19951
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - hwn02.k8s-01.kontur.io
  # NOTE: according to #20190, as a short-term fix
  # storage type should be set to
  #   PVC for normal operation,
  #   emptydir for controlled cross-node migrations
  # additionally:
  #     after space on /var will be increased (#20191),
  #     storage type could be permanently set to emptydir
  storageType: pvc
