envName: dev

createResource:
  ingress: true
isOfflineInstallation: false
ingressHost: dev-basemap-tileserver.k8s-01.konturlabs.com
ingressClass: ingress-nginx

tileserver:
  replicas: 1
  image: 'nexus.kontur.io:8084/maptiler/tileserver-gl'
  tag: 'v4.4.0'
  storageType: emptydir

basemap:
  processingSchedule: "0 0 */2 * *" # Run once in 2 days at midnight
  s3:
    path: s3://basemap-locker01/DEV
    url: https://basemap-locker01.s3.eu-central-1.amazonaws.com/DEV
  renderer:
    image: "nexus.kontur.io:8084/konturdev/build-basemap"
    tag: "7631b004"
  db:
    image: "nexus.kontur.io:8084/postgis/postgis"
    tag: "15-3.3"
