envName: prod

createResource:
  ingress: true
isOfflineInstallation: false
ingressHost: prod-basemap-tileserver.k8s-01.konturlabs.com
ingressClass: ingress-nginx

tileserver:
  replicas: 1
  image: 'nexus.kontur.io:8084/maptiler/tileserver-gl'
  tag: 'v4.4.0'
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                  - hwn01.k8s-01.kontur.io

basemap:
  processingSchedule: "0 0 */2 * *" # Run once in 2 days at midnight
  s3:
    path: s3://basemap-locker01/PROD
    url: https://s3.kontur.io/basemap-locker01/PROD
    endpoint: https://s3.kontur.io
  renderer:
    image: "nexus.kontur.io:8084/konturdev/build-basemap"
    tag: "be6b952b"
  db:
    image: "nexus.kontur.io:8084/postgis/postgis"
    tag: "15-3.3"
