# Default values for disaster-ninja-be.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  be:
    repository: ghcr.io/konturio/disaster-ninja-be
    pullPolicy: IfNotPresent
    tag: latest

service:
  port: 8627

management:
  port: 8081

envName: local
ingressHost: none

createResource:
  defaultSecrets: false
  ingress: false
  prometheusRule: false
  serviceMonitor: false
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

resources:
  main:
    requests:
      cpu: 1
      memory: 4G
    limits:
      memory: 16G
  notifier:
    requests:
      cpu: 1
      memory: 2G
    limits:
      memory: 3G

keycloakUrl: 'https://dev-keycloak.k8s-01.konturlabs.com'
keycloakRealm: dev
eventApiUrl: 'https://test-apps02.konturlabs.com/events'
kcApiUrl: 'https://test-api02.konturlabs.com/layers'
layersApiUrl: 'https://test-api02.konturlabs.com/layers/v2'
insightsApiUrl: 'https://test-apps02.konturlabs.com/insights-api'
userProfileApiUrl: 'https://test-apps02.konturlabs.com/userprofile'
llmAnalyticsApiUrl: 'http://dev-insights-llm-api.dev-insights-api.svc.cluster.local:8000'
tilesHost: 'https://zigzag.kontur.io'

useInsightsV2: false

notificationsEnabled: false
notificationsFeed: disabled
notificationsAlertUrlPattern: disabled
notificationsSlackWebHook: disabled
notificationsRelevantLocationsLayer: "global_giving_partners"
notificationsRelevantLocationsLayerAppId: "52b9efd2-0527-4236-9bb6-9677bea1d790"
notificationsEmailNotificationsFrequencyMs: 28800000

alertingTime: 10m

otlpTracesExporter: none
otlpTracesPort: 4317

java_tool_options: "-XX:MaxRAMPercentage=50"
