# Default values for insights-api-db-svc.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: latest
  tagType: ""
  name: nexus.kontur.io:8084/konturdev/insights-api-db-svc
  usePullSecret: true
  pullSecretName: nexus8084

port: 8625
replicas: 1
envName: local
ingressHost: none

management:
  port: 8082

createResource:
  defaultSecrets: false
  deploymentLivenessProbe: true

isOfflineInstallation: false
probeInitialDelaySeconds: 15

resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 16Gi

databaseHost: host.docker.internal
databasePort: 8900
databaseName: insights-api
databaseUsername: insights-api

maxParallelTasks: 7
runCorrelations: true
