# Dev values for titiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  tag: 0.22.3

envName: dev
ingressHost: dev-titiler.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  ingress: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 5

resources:
  requests:
    cpu: 5
    memory: 5Gi
  limits:
    cpu: 5
    memory: 512Gi
