# QUICKSTART values for titiler.
replicaCount: 1

image:
  tag: 0.7.1

envName: quickstart
ingressHost: titiler.kontur

createResource:
  ingress: true
  deploymentLivenessProbe: true
isOfflineInstallation: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 1
    memory: 768Mi