# Prod values for titiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 3

image:
  tag: 0.7.1

envName: prod
ingressHost: prod-titiler.k8s-01.konturlabs.com

createResource:
  ingress: true
  deploymentLivenessProbe: true
isOfflineInstallation: false