# Dev values for titiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  tag: 0.7.1

envName: dev
ingressHost: dev-titiler.k8s-01.konturlabs.com

createResource:
  ingress: true
  deploymentLivenessProbe: true