envName: dev

imagePullPolicy: IfNotPresent

createResource:
  ingress: false
  prometheusRule: false

nodeAffinity:
  enabled: true
  hostname: localhost

#planet url: https://planet.openstreetmap.org/pbf/planet-latest.osm.pbf.torrent
sourcePbfUrl: https://download.geofabrik.de/europe-latest.osm.pbf

pbfDir: /pbf-data
pbfDirSize: 80Gi
pbfFile: aoi.osm.pbf
pbfDownloadSchedule: "05 00 * * *"

osrmBackendDir: /osrm-data
osrmPreprocessorDir: /osrm-pre-data
osrmDirSize: 320Gi
osrmProfile: car.lua
osrmPreprocessingSchedule: "30 00 * * *"

osrmBackendPort: 5000
osrmBackendReplicas: 1
osrmBackendRestartSchedule: "10 2-6 * * *"

storageClass: local-path

images:
  pullSecretName: nexus8084
  usePullSecret: true
  pbf_downloader:
    name: nexus.kontur.io:8084/konturdev/pbf-downloader
    tag: develop.4281fde.1
  osrm_preprocessor:
    name: nexus.kontur.io:8084/konturdev/osrm-preprocessor
    tag: develop.4281fde.1
  osrm_backend:
    name: osrm/osrm-backend
    tag: latest

resources:
  pbf_downloader:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1
      memory: 4Gi #TODO check it should be lower
  osrm_preprocessor:
    threads: 64
    requests:
      cpu: 32
      memory: 200Gi
    limits:
      cpu: 32
      memory: 200Gi
  osrm_backend:
    requests:
      cpu: 100m
      memory: 1Gi
    limits: #TODO test
      cpu: 2
      memory: 200Gi

alertingTime: 10m