# QUICKSTART values for disaster-ninja-fe.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  fe:
    repository: ghcr.io/konturio/disaster-ninja-fe
    algorithm: ''
    tag: release-2.2.4.3f58b0a.1
    
replicaCount: 1
envName: quickstart
ingressHost: disaster-ninja.kontur

createResource:
  ingress: true
  prometheusRule: false
  serviceMonitor: false
isOfflineInstallation: true
probeInitialDelaySeconds: 90

reportsBucket: 'https://geodata-eu-central-1-kontur-public.s3.eu-central-1.amazonaws.com/kontur_reports/dev/' #TODO DN reports

epigHost: 'http://epig.kontur'

alertingTime: 10m

#TODO: quickstart.json: "BOUNDARIES_API": "https://test-api02.konturlabs.com/layers/collections/bounds/itemsByMultipoint"
