# PROD values for disaster-ninja-fe.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  fe:
    repository: ghcr.io/konturio/disaster-ninja-fe
    algorithm: ''
    tag: release-2.30.2.93c295f.1

replicaCount: 2
envName: prod
ingressHosts:
  - apps.disaster.ninja
  - disaster.ninja
  - new.openaerialmap.org
  - maps.kontur.io
  - atlas.kontur.io
  - prod-atlas-kontur-io.k8s-01.konturlabs.com
  - oasis.kontur.io
  - prod-oasis-kontur-io.k8s-01.konturlabs.com
  - odin.kontur.io
  - terrain.kontur.io
  - prod-odin-kontur-io.k8s-01.konturlabs.com
  - prod-terrain-kontur-io.k8s-01.konturlabs.com
  - prod-disaster-ninja.k8s-01.konturlabs.com
  - prod-disaster-ninja.konturlabs.com
  - prod-emb-disaster-ninja.konturlabs.com

createResource:
  ingress: true
  prometheusRule: true
  serviceMonitor: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

reportsBucket: 'https://geodata-eu-central-1-kontur-public.s3.eu-central-1.amazonaws.com/kontur_reports/'

epigHost: 'https://prod-epig.k8s-01.konturlabs.com'

alertingTime: 5m

ingressClass: ingress-nginx

client_max_body_size: 100m
