# DEV values for disaster-ninja-fe.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  fe:
    repository: ghcr.io/konturio/disaster-ninja-fe
    algorithm: ""
    tag: "21040-dn-fe-improve-slack-notifications.697c159.1"
replicaCount: 2
envName: dev
ingressHosts:
  - test-apps-ninja02.konturlabs.com
  - dev-disaster-ninja.konturlabs.com
  - test-emb-apps-ninja02.konturlabs.com
  - dev-emb-disaster-ninja.konturlabs.com
  - dev-disaster-ninja.k8s-01.konturlabs.com
  - dev-maps-kontur-io.k8s-01.konturlabs.com
  - dev-new-openaerialmap-org.k8s-01.konturlabs.com
  - dev-atlas-kontur-io.k8s-01.konturlabs.com
  - dev-oasis-kontur-io.k8s-01.konturlabs.com
  - dev-odin-kontur-io.k8s-01.konturlabs.com
  - dev-terrain-kontur-io.k8s-01.konturlabs.com
  - dev-globalgiving-kontur-io.k8s-01.konturlabs.com
  - dev-horam-kontur-io.k8s-01.konturlabs.com
  - dev-waldoair-kontur-io.k8s-01.konturlabs.com
  - dev-floodmodel-kontur-io.k8s-01.konturlabs.com
ingressClass: ingress-nginx
createResource:
  ingress: true
  prometheusRule: true
  serviceMonitor: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15
reportsBucket: "https://geodata-eu-central-1-kontur-public.s3.eu-central-1.amazonaws.com/kontur_reports/dev/"
epigHost: "https://dev-epig.k8s-01.konturlabs.com"
alertingTime: 10m
client_max_body_size: 100m
