# TEST values for disaster-ninja-fe.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  fe:
    repository: ghcr.io/konturio/disaster-ninja-fe
    algorithm: ""
    tag: main.ee16a80.1

replicaCount: 2
envName: test
ingressHosts:
  - test-disaster-ninja.k8s-01.konturlabs.com
  - test-maps-kontur-io.k8s-01.konturlabs.com
  - test-new-openaerialmap-org.k8s-01.konturlabs.com
  - test-atlas-kontur-io.k8s-01.konturlabs.com
  - test-oasis-kontur-io.k8s-01.konturlabs.com
  - test-odin-kontur-io.k8s-01.konturlabs.com
  - test-terrain-kontur-io.k8s-01.konturlabs.com
  - test-globalgiving-kontur-io.k8s-01.konturlabs.com
  - test-horam-kontur-io.k8s-01.konturlabs.com
  - test-apps-ninja01.konturlabs.com
  - test-disaster-ninja.konturlabs.com
  - test-emb-apps-ninja01.konturlabs.com
  - test-emb-disaster-ninja.konturlabs.com
  - test-waldoair-kontur-io.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  ingress: true
  prometheusRule: true
  serviceMonitor: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

reportsBucket: "https://geodata-eu-central-1-kontur-public.s3.eu-central-1.amazonaws.com/kontur_reports/test/"

epigHost: "https://test-epig.k8s-01.konturlabs.com"

alertingTime: 5m

client_max_body_size: 100m
