# PROD values for layers-tiles-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
envName: prod
ingressHost: prod-layers-tiles-api.k8s-01.konturlabs.com

replicas: 2

image:
  tag: "20220815" #this version will be automatically deployed by Flux

DbPoolMaxConnLifeTime: 10m
DbPoolMaxConns: 10
DbTimeout: 10
CacheTTL: 10
EnableMetrics: true
Debug: false

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15
