# QUICKSTART values for layers-tiles-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
envName: quickstart
ingressHost: layers-tiles-api.kontur

replicas: 1

image:
  tag: "20220815" #this version will be automatically deployed by Flux

DbPoolMaxConnLifeTime: 10m
DbPoolMaxConns: 10
DbTimeout: 10
CacheTTL: 0
EnableMetrics: true
Debug: true

createResource:
  defaultSecrets: true
  ingress: true
  prometheusRule: false
  serviceMonitor: false
isOfflineInstallation: true
probeInitialDelaySeconds: 90

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 768Mi
