# TEST values for layers-tiles-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
envName: test
ingressHost: test-layers-tiles-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

replicas: 1

image:
  tag: "20240614"
DbPoolMaxConnLifeTime: 10m
DbPoolMaxConns: 20
DbTimeout: 20
CacheTTL: 10
EnableMetrics: true
Debug: true

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
isOfflineInstallation: false
probeInitialDelaySeconds: 5
