# TEST values for user-profile-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: main.945bc58.1
  pullSecretName: none
  usePullSecret: false

replicas: 2
envName: test
ingressHost: test-user-profile-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

databaseHost: db-user-profile-api-pg17-primary.test-user-profile-api.svc
databaseName: user-profile-api-db

jwtIssuerUri: 'https://keycloak01.konturlabs.com/realms/test'
jwtJwkSetUri: 'https://keycloak01.konturlabs.com/realms/test/protocol/openid-connect/certs'

paypal:
  webhookID: '5P639910MG425770T'
  host: 'https://api.sandbox.paypal.com'

alertingTime: 5m

otlpTracesExporter: otlp
otlpTracesPort: 4317
