# QUICKSTART values for user-profile-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: release-0.3.7.5cfca24.1
  pullSecretName: nexus8084
  usePullSecret: true

replicas: 1
envName: quickstart
ingressHost: user-profile-api.kontur

createResource:
  defaultSecrets: true
  ingress: true
  prometheusRule: false
  serviceMonitor: false
  deploymentLivenessProbe: true
isOfflineInstallation: true
probeInitialDelaySeconds: 90

databaseHost: host.docker.internal
databaseMaximumPoolSize: 5

jwtIssuerUri: http://keycloak.kontur/auth/realms/quickstart
jwtJwkSetUri: http://keycloak.kontur/auth/realms/quickstart/protocol/openid-connect/certs

dnsNameOuter: none #not used due to isOfflineInstallation flag

otlpTracesExporter: none