# PROD values for user-profile-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: release-0.10.0.8f8027d.1
  pullSecretName: none
  usePullSecret: false

replicas: 2
envName: prod
ingressHost: prod-user-profile-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

databaseHost: db-user-profile-api-primary.prod-user-profile-api.svc
databaseName: user-profile-api-db

jwtIssuerUri: 'https://keycloak01.kontur.io/realms/kontur'
jwtJwkSetUri: 'https://keycloak01.kontur.io/realms/kontur/protocol/openid-connect/certs'

paypal:
  webhookID: '4XB10777S9076735P'
  host: 'https://api.paypal.com'

alertingTime: 5m

otlpTracesExporter: otlp
otlpTracesPort: 4317
