# DEV values for user-profile-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: 21414-create-risk-assessment-app.dcff9cd.1
  pullSecretName: none
  usePullSecret: false

replicas: 2
envName: dev
ingressHost: dev-user-profile-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

databaseHost: db-user-profile-api-pg17-primary.dev-user-profile-api.svc
databaseName: user-profile-api-db

jwtIssuerUri: 'https://dev-keycloak.k8s-01.konturlabs.com/realms/dev'
jwtJwkSetUri: 'https://dev-keycloak.k8s-01.konturlabs.com/realms/dev/protocol/openid-connect/certs'

paypal:
  webhookID: '5FN15003WM978772N'
  host: 'https://api.sandbox.paypal.com'

intercom:
  enabled: false

alertingTime: 10m

otlpTracesExporter: otlp
otlpTracesPort: 4317
