# PROD values for user-profile-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: release-0.3.7.5cfca24.1
  pullSecretName: none
  usePullSecret: false

replicas: 2
envName: prod
ingressHost: prod-user-profile-api.k8s-01.konturlabs.com

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

databaseHost: paris.k8s-01.kontur.io.

jwtIssuerUri: https://keycloak01.kontur.io/auth/realms/kontur
jwtJwkSetUri: https://keycloak01.kontur.io/auth/realms/kontur/protocol/openid-connect/certs

dnsNameOuter: apps.kontur.io
alertingTime: 2m

otlpTracesExporter: otlp
otlpTracesPort: 4317
