# LOCAL values for disaster-ninja-be.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
envName: local
ingressHost: none

createResource:
  defaultSecrets: false
  ingress: false
  prometheusRule: false
  serviceMonitor: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

replicas: 1

image:
  be:
    pullPolicy: IfNotPresent
    tag: latest

keycloakUrl: 'https://dev-keycloak.k8s-01.konturlabs.com'
keycloakRealm: dev
eventApiUrl: 'https://test-apps02.konturlabs.com/events'
kcApiUrl: 'https://test-api02.konturlabs.com/layers'
layersApiUrl: 'https://test-api02.konturlabs.com/layers/v2'
insightsApiUrl: 'https://test-apps02.konturlabs.com/insights-api'
userProfileApiUrl: 'https://test-apps02.konturlabs.com/userprofile'
tilesHost: 'https://zigzag.kontur.io'

notificationsEnabled: false
notificationsFeed: kontur-public
notificationsAlertUrlPattern: 'https://test-apps-ninja02.konturlabs.com/active/?event=%s'
notificationsKonturUrlPattern: 'https://dev-globalgiving-kontur-io.k8s-01.konturlabs.com/active/map?event=%s&feed=%s&utm_source=email'

alertingTime: 10m

otlpTracesExporter: none
otlpTracesPort: 4317

java_tool_options: "-XX:MaxRAMPercentage=50"
