# DEV values for disaster-ninja-be.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
envName: dev
ingressHost: dev-disaster-ninja.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: false
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

replicas: 1

image:
  be:
    tag: release-0.37.4.0626f5c.1

keycloakUrl: 'https://dev-keycloak.k8s-01.konturlabs.com'
keycloakRealm: dev
eventApiUrl: 'http://dev-event-api.dev-event-api.svc:8624/events'
kcApiUrl: 'https://test-api02.konturlabs.com/layers'
layersApiUrl: 'http://dev-layers-api.dev-layers-api.svc:8630/layers/v2/'
insightsApiUrl: 'https://dev-insights-api.k8s-01.konturlabs.com/insights-api'
userProfileApiUrl: 'http://dev-user-profile-api.dev-user-profile-api.svc:8631/userprofile'
llmAnalyticsApiUrl: 'http://dev-insights-llm-api.dev-insights-api.svc.cluster.local:8000'
tilesHost: 'https://sonic.kontur.io'

notificationsEnabled: true
notificationsFeed: kontur-public
notificationsAlertUrlPattern: 'https://test-apps-ninja02.konturlabs.com/active/?event=%s&utm_source=slack'
notificationsKonturUrlPattern: 'https://dev-globalgiving-kontur-io.k8s-01.konturlabs.com/active/map?event=%s&feed=%s&utm_source=email'

alertingTime: 10m

otlpTracesExporter: otlp
otlpTracesPort: 4317

java_tool_options: "-XX:MaxRAMPercentage=50 -javaagent:/opentelemetry/opentelemetry-javaagent.jar"
