# PROD values for disaster-ninja-be.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
envName: prod
ingressHost: prod-disaster-ninja.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: false
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

replicas: 2

image:
  be:
    tag: release-0.37.6.3ff5dcc.1

keycloakUrl: 'https://keycloak01.kontur.io'
keycloakRealm: kontur
eventApiUrl: 'http://prod-event-api.prod-event-api.svc:8624/events'
kcApiUrl: 'https://api.kontur.io/layers'
layersApiUrl: 'http://prod-layers-api.prod-layers-api.svc:8630/layers/v2/'
insightsApiUrl: 'http://prod-insights-api.prod-insights-api.svc:8625/insights-api'
userProfileApiUrl: 'http://prod-user-profile-api.prod-user-profile-api.svc:8631/userprofile'
llmAnalyticsApiUrl: 'http://prod-insights-llm-api.prod-insights-api.svc.cluster.local:8000'
tilesHost: 'https://disaster.ninja'

notificationsEnabled: true
notificationsFeed: kontur-public
notificationsAlertUrlPattern: 'https://disaster.ninja/active/?event=%s&utm_source=slack'
notificationsKonturUrlPattern: 'https://globalgiving.kontur.io/active/map?event=%s&feed=%s&utm_source=email'

alertingTime: 5m
alertingMaxResponseTime: 10s

otlpTracesExporter: otlp
otlpTracesPort: 4317

java_tool_options: "-XX:MaxRAMPercentage=50 -javaagent:/opentelemetry/opentelemetry-javaagent.jar"
