apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.envName }}-job-watcher-controller-sa
  namespace: {{ .Release.Namespace }}

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.envName }}-job-watcher-controller-clusterrole
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    resourceNames: [{{ .Values.targetDeploymentName | quote }}]
    verbs: ["get", "patch"]

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.envName }}-job-watcher-controller-clusterrolebinding
subjects:
  - kind: ServiceAccount
    name: {{ .Values.envName }}-job-watcher-controller-sa
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ .Values.envName }}-job-watcher-controller-clusterrole
  apiGroup: rbac.authorization.k8s.io
