# PROD values for event-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: master.793a4053.1
  pullSecretName: none
  usePullSecret: false

replicas: 1
envName: prod
ingressHost: prod-event-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15
probeInitialDelaySecondsRedis: 15
usePgDataSecret: true

# databaseHost: moral-pgdb01.cskt9jki4yd3.eu-central-1.rds.amazonaws.com
# databaseUser: event_api_user01
# databaseName: event_api
databaseHost: db-event-api-primary.prod-event-api.svc
databaseUser: event-api
databaseName: event-api
databasePort: 5432

alertingTime: 5m

jwtIssuerUri: 'https://keycloak01.kontur.io/realms/kontur'
jwtJwkSetUri: 'https://keycloak01.kontur.io/realms/kontur/protocol/openid-connect/certs'

profiles: prod, cacheDisabled

otlpTracesExporter: otlp
otlpTracesPort: 4317

konturApiUrl: 'https://api.kontur.io/'

konturAppsUrl: 'https://apps.kontur.io/'

pdcUrl: 'https://emops.pdc.org/'
pdcMapSrvUrl: 'https://apps.pdc.org'
pdcUser: 'event-api2'

staticdataS3Folder: 'PROD/'

humanitarianCrisisS3Folder: 'kontur_events/PROD/'

awsSqsUrl: 'https://sqs.us-west-1.amazonaws.com/001426858141/SNS_messages_from_pdc-prod-publiccloud-sns.fifo'
awsSqsDlqUrl: 'https://sqs.us-west-1.amazonaws.com/001426858141/SNS_messages_from_pdc-prod-publiccloud-sns_DLQ.fifo'
awsSqsEnabled: true

feignUserAgent: 'Event API PROD'

normalizationProviders: gdacsAlert, gdacsAlertGeometry, kontur.events, storms.noaa, wildfire.calfire, usgs.earthquake,
  wildfire.perimeters.nifc, wildfire.locations.nifc, cyclones.nhc-at.noaa, cyclones.nhc-ep.noaa, cyclones.nhc-cp.noaa

eventCombinationProviders: gdacsAlert, gdacsAlertGeometry, kontur.events, storms.noaa, wildfire.calfire, usgs.earthquake,
  wildfire.perimeters.nifc, wildfire.locations.nifc, cyclones.nhc-at.noaa, cyclones.nhc-ep.noaa, cyclones.nhc-cp.noaa
