# TEST values for keycloak.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: nexus.kontur.io:8084/konturdev/keycloak-with-ups-spi
  pullPolicy: IfNotPresent
  tag: release-0.12.0.0147e1b.1
  pullSecretName: nexus8084
  usePullSecret: false

replicas: 1

service:
  main: 8080
  management: 8080
  kcFrontEndUrl: https://keycloak01.konturlabs.com

keycloak:
  databaseHost: db-keycloak-primary.test-keycloak.svc
  databasePort: 5432
  databaseName: keycloak-db
  databaseUser: keycloak
ups:
  databaseHost: db-user-profile-api-primary.test-user-profile-api.svc
  databasePort: 5432
  databaseName: user-profile-api-db
  databaseUser: user-profile-api

envName: test
ingressHost: keycloak01.konturlabs.com
ingressClass: ingress-nginx

proxy_read_timeout: 300s

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: false
  importDefaultRealm: false
isOfflineInstallation: false
probeInitialDelaySeconds: 180
disableSsl: false

resources:
   requests:
     cpu: 100m
     memory: 128Mi
   limits:
     memory: 16Gi

alertingTime: 10m
