# TEST values for keycloak.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: nexus.kontur.io:8084/konturdev/keycloak-with-ups-spi
  pullPolicy: IfNotPresent
  tag: release-0.9.2.6c3b131.1
  pullSecretName: nexus8084
  usePullSecret: false

replicas: 1

service:
  main: 8080
  management: 8080
  kcFrontEndUrl: https://keycloak01.kontur.io

keycloak:
  databaseHost: db-keycloak-primary.prod-keycloak.svc
  databasePort: 5432
  databaseName: keycloak-db
  databaseUser: keycloak
ups:
  databaseHost: db-user-profile-api-primary.prod-user-profile-api.svc
  databasePort: 5432
  databaseName: user-profile-api-db
  databaseUser: user-profile-api

envName: prod
ingressHost: keycloak01.kontur.io
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
  importDefaultRealm: false
isOfflineInstallation: false
probeInitialDelaySeconds: 180
disableSsl: false

resources:
   requests:
     cpu: 100m
     memory: 128Mi
   limits:
     memory: 16Gi

alertingTime: 5m
