apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.ENV_NAME }}-chromium-headless
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: chromium-headless
    app.kubernetes.io/instance: {{ .Values.ENV_NAME }}-chromium-headless
    #don't add app.kubernetes.io/version
    app.kubernetes.io/managed-by: "Helm"
    stage: {{ .Values.ENV_NAME }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: chromium-headless
      app.kubernetes.io/instance: {{ .Values.ENV_NAME }}-chromium-headless
      #don't add app.kubernetes.io/version
      app.kubernetes.io/managed-by: "Helm"
      stage: {{ .Values.ENV_NAME }}
  replicas: {{ .Values.containers.chromium_headless.replicas }}
  strategy:
    {{- if or (.Values.resources.chromium.requests.nvidia_gpu) (.Values.resources.chromium.limits.nvidia_gpu) }}
    type: Recreate
    {{- else }}
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    {{- end }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: chromium-headless
        app.kubernetes.io/instance: {{ .Values.ENV_NAME }}-chromium-headless
        #don't add app.kubernetes.io/version
        app.kubernetes.io/managed-by: "Helm"
        stage: {{ .Values.ENV_NAME }}
      annotations:
        meta.helm.sh/release-name: {{ .Release.Name }}
        meta.helm.sh/release-namespace: {{ .Release.Namespace }}
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }} #only roll pods if config (rendered!) changed
    spec:
      {{ if .Values.containers.usePullSecret }}
      imagePullSecrets: #TODO remove once image is on ghcr.io
        - name: {{ .Values.containers.pullSecretName }}{{ end }}
      {{- if .Values.resources.chromium.requests.nvidia_gpu }}
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
      {{- end }}
      containers:
        - name: chromium-headless
          image: {{ .Values.containers.chromium_headless.repository }}:{{ .Values.containers.chromium_headless.tag }}
          imagePullPolicy: {{ .Values.containers.chromium_headless.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ .Values.ENV_NAME }}-epig
            - secretRef:
                name: {{ .Values.ENV_NAME }}-preview-generator-secret
          ports:
            - containerPort: {{ .Values.CHROMIUM_PORT }}
          resources:
            requests:
              cpu: {{ .Values.resources.chromium.requests.cpu | quote }}
              memory: {{ .Values.resources.chromium.requests.memory | quote }}
              {{- if .Values.resources.chromium.requests.nvidia_gpu }}
              nvidia.com/gpu: {{ .Values.resources.chromium.requests.nvidia_gpu }}
              {{- end }}
            limits:
              memory: {{ .Values.resources.chromium.limits.memory | quote }}
              {{- if .Values.resources.chromium.limits.nvidia_gpu }}
              nvidia.com/gpu: {{ .Values.resources.chromium.limits.nvidia_gpu }}
              {{- end }}
          livenessProbe:
            httpGet:
              path: /json
              port: {{ .Values.CHROMIUM_PORT }}
            initialDelaySeconds: {{ .Values.probeInitialDelaySeconds }}
            timeoutSeconds: 10
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: /json
              port: {{ .Values.CHROMIUM_PORT }}
            initialDelaySeconds: {{ .Values.probeInitialDelaySeconds }}
            timeoutSeconds: 10
            failureThreshold: 1
            periodSeconds: 15
          volumeMounts:
            - mountPath: /app/cache
              name: chromium-cache
            - mountPath: /tmp
              name: tmp
            - mountPath: /var/run/dbus/
              name: dbus-socket
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              add:
              - SYS_ADMIN
      restartPolicy: Always
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      volumes:
        - name: chromium-cache
          emptyDir: {}
        - name: tmp
          emptyDir: {}
        - name: dbus-socket
          emptyDir: {}
