{{ if .Values.createResource.defaultSecrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.ENV_NAME }}-preview-generator-secret
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.ENV_NAME }}-preview-generator
    app.kubernetes.io/instance: {{ .Values.ENV_NAME }}-preview-generator
    app.kubernetes.io/managed-by: "Helm"
    stage: {{ .Values.ENV_NAME }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  # dXNlcm5hbWU= # = username
   CACHE_PASSWORD: cGFzc3dvcmQ= # = password
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.ENV_NAME }}-redis-secret #TODO {{ .Values.ENV_NAME }}-preview-generator-secret - can it be reused?
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.ENV_NAME }}-preview-generator
    app.kubernetes.io/instance: {{ .Values.ENV_NAME }}-preview-generator
    app.kubernetes.io/managed-by: "Helm"
    stage: {{ .Values.ENV_NAME }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  # dXNlcm5hbWU= # = username
   CACHE_PASSWORD: cGFzc3dvcmQ= # = password
---
{{ end }}
