bases:
  - ../../base
namespace: prod-event-api

patchesJson6902:
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-event-api
    path: postgrescluster-s3-backups.yaml
  - target: # Legacy, to be removed but not until new replicas are set up and switchover is performed
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-event-api
    path: postgrescluster-resource-adjustment.yaml
  - target: # new config for instances management
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-event-api
      path: postgrescluster-instances.yaml
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-event-api
    path: postgrescluster-onsite-backups.yaml
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-event-api
    path: postgrescluster-pgbackrest-adjustment.yaml

generatorOptions:
  disableNameSuffixHash: true

# secretGenerator:
# - name: db-event-api-pgo-s3-credentials
#   files:
#   - s3.conf
#   options:
#     labels:
#       app.kubernetes.io/component: database
#       app.kubernetes.io/managed-by: manually
#       app.kubernetes.io/name: db-event-api
#       app.kubernetes.io/part-of: event-api
