# TEST values for insights-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: "13565-treat-empty-file-during-update-processing-as-missing-file.2c7e7f4.1"
  tagType: ""
  pullSecretName: none
  usePullSecret: false

replicas: 2
envName: test
ingressHost: test-insights-api.k8s-01.konturlabs.com

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 15

resources:
  app:
    requests:
      cpu: 1
      memory: 5Gi
    limits:
      memory: 7Gi
  redis:
    requests:
      cpu: 100m
      memory: 512M
    limits:
      memory: 1G

databaseHost: london.k8s-01.kontur.io.
databasePort: 5432
databaseName: insights-api
databaseUsername: insights-api
jmxEnabled: true

dnsNameOuter: test-apps.konturlabs.com
alertingTime: 5m

keycloakUrl: 'https://keycloak01.konturlabs.com/auth'
keycloakRealm: 'test'

otlpTracesExporter: otlp
otlpTracesPort: 4317

client_max_body_size: 5g