# PROD values for insights-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: release-0.20.11.56560c2.1
  tagType: ""
  pullSecretName: none
  usePullSecret: false

replicas: 2
envName: prod
ingressHost: prod-insights-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

resources:
  app:
    requests:
      cpu: 1
      memory: 7Gi
    limits:
      memory: 16Gi
  redis:
    requests:
      cpu: 100m
      memory: 512M
    limits:
      memory: 16Gi

databaseHost: paris.k8s-01.kontur.io
databasePort: 5432
databaseName: insights-api
databaseUsername: insights-api
databaseMaximumPoolSize: 450

jmxEnabled: false

dnsNameOuter: apps.kontur.io
alertingTime: 5m

keycloakUrl: 'https://keycloak01.kontur.io'
keycloakRealm: kontur

otlpTracesExporter: otlp
otlpTracesPort: 4317

proxy_read_timeout: 21600s
jdbcTemplateQueryTimeout: "21600"

tileSize: 512
hexEdgePixels: 5
maxH3Resolution: 8
minH3Resolution: 0
maxZoom: 15
minZoom: 0

useStatSeparateTables: false
