# PROD values for insights-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: release-0.23.0.48c18fb.1
  tagType: ""
  pullSecretName: none
  usePullSecret: false

replicas: 2
envName: prod
ingressHost: prod-insights-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

resources:
  app:
    requests:
      cpu: 1
      memory: 7Gi
    limits:
      memory: 16Gi
  redis:
    requests:
      cpu: 100m
      memory: 6Gi
    limits:
      memory: 16Gi

redisConfig:
  maxmemory: 5gb

databaseHost: db-insights-api-pg17-primary.prod-insights-api.svc
databaseHostSecondary: db-insights-api-pg17-primary.prod-insights-api.svc
#databaseHostSecondary: db-insights-api-pg17-replicas.prod-insights-api.svc
databasePort: 5432
databaseName: insights-api
databaseUsername: insights-api
databaseMaximumPoolSize: 200

jmxEnabled: false

dnsNameOuter: apps.kontur.io
alertingTime: 5m

keycloakUrl: 'https://keycloak01.kontur.io'
keycloakRealm: kontur

otlpTracesExporter: otlp
otlpTracesPort: 4317

client_max_body_size: 500g
proxy_read_timeout: 21600s
jdbcTemplateQueryTimeout: "21600"

tileSize: 512
hexEdgePixels: 5
maxH3Resolution: 11
minH3Resolution: 0
maxZoom: 15
minZoom: 0

java_tool_options: "-XX:MaxRAMPercentage=50"
