# TEST values for insights-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: 19237-research-possibility-of-insights-api-refactoring-to-use-separate-database-endpoints-for-reading-and-writing.bdc31b1.1
  tagType: ""
  pullSecretName: none
  usePullSecret: false

replicas: 2
envName: test
ingressHost: test-insights-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 90

resources:
  app:
    requests:
      cpu: 1
      memory: 7Gi
    limits:
      memory: 16Gi
  redis:
    requests:
      cpu: 100m
      memory: 512M
    limits:
      memory: 16G

databaseHost: db-insights-api-primary.test-insights-api.svc
# TODO: replace with secondary replica URL once ready
databaseHostSecondary: db-insights-api-primary.test-insights-api.svc
databasePort: 5432
databaseName: insights-api
databaseUsername: insights-api
databaseMaximumPoolSize: 200
jmxEnabled: true

dnsNameOuter: test-apps.konturlabs.com
alertingTime: 5m

keycloakUrl: 'https://keycloak01.konturlabs.com'
keycloakRealm: test

otlpTracesExporter: otlp
otlpTracesPort: 4317

client_max_body_size: 200g
proxy_read_timeout: 21600
jdbcTemplateQueryTimeout: "21600"

tileSize: 512
hexEdgePixels: 5
maxH3Resolution: 11
minH3Resolution: 0
maxZoom: 15
minZoom: 0
