# DEV values for insights-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: release-0.23.0.48c18fb.1
  tagType: ""
  pullSecretName: none
  usePullSecret: false
replicas: 2
envName: dev
ingressHost: dev-insights-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx
createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: false
isOfflineInstallation: false
probeInitialDelaySeconds: 90
resources:
  app:
    requests:
      cpu: 1
      memory: 7Gi
    limits:
      memory: 16Gi
  redis:
    requests:
      cpu: 100m
      memory: 6Gi
    limits:
      memory: 16Gi
redisConfig:
  maxmemory: 5gb

#NEON data:
#databaseHost: ep-twilight-cake-951994.cloud.neon.tech
#databaseName: main
#databaseUsername: insights_api_user01
# Commented by Jamal Shahverdiyev. If new Domain inside of Kubernetes will work fine we can delete following comment too.
# databaseHost: milan.k8s-01.kontur.io.
databaseHost: db-insights-api-primary.dev-insights-api.svc
# dev has no replica, use the same host
databaseHostSecondary: db-insights-api-primary.dev-insights-api.svc
databaseName: insights-api
databaseUsername: insights-api
databaseMaximumPoolSize: 200
databasePort: 5432
jmxEnabled: true
dnsNameOuter: test-apps02.konturlabs.com
alertingTime: 10m
keycloakUrl: 'https://dev-keycloak.k8s-01.konturlabs.com'
keycloakRealm: dev
otlpTracesExporter: otlp
otlpTracesPort: 4317
client_max_body_size: 500g
proxy_read_timeout: 21600s
jdbcTemplateQueryTimeout: "21600"
tileSize: 512
hexEdgePixels: 5
maxH3Resolution: 11
minH3Resolution: 0
maxZoom: 15
minZoom: 0
java_tool_options: "-XX:MaxRAMPercentage=50"
