# TEST values for layers-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: release-1.11.0.8ae432c.1
  usePullSecret: false
  pullSecretName: none

replicas: 2
envName: test
ingressHost: test-layers-api.k8s-01.konturlabs.com

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false

databaseHost: london.k8s-01.kontur.io

jwtIssuerUri: 'https://keycloak01.konturlabs.com/auth/realms/test'
jwtJwkSetUri: 'https://keycloak01.konturlabs.com/auth/realms/test/protocol/openid-connect/certs'

alertingTime: 5m

otlpTracesExporter: otlp
otlpTracesPort: 4317
