# PROD values for layers-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  tag: release-1.19.0.e5e1e6e.1
  usePullSecret: false
  pullSecretName: none

replicas: 2
envName: prod
ingressHost: prod-layers-api.k8s-01.konturlabs.com
ingressClass: ingress-nginx

createResource:
  defaultSecrets: false
  ingress: true
  prometheusRule: true
  serviceMonitor: true
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 15

databaseHost: db-layers-primary.prod-layers-db.svc

jwtIssuerUri: 'https://keycloak01.kontur.io/realms/kontur'
jwtJwkSetUri: 'https://keycloak01.kontur.io/realms/kontur/protocol/openid-connect/certs'

alertingTime: 5m

otlpTracesExporter: otlp
otlpTracesPort: 4317
