# Test values for raster-tiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: 0f4ce811e502827a32f7c15912045e9e9995b2db
  pullSecretName: none
  usePullSecret: false

db_disable_ssl: false
replicas: 1
envName: test
ingressHost: test-raster-tiler.k8s-01.konturlabs.com
base_url: https://test-raster-tiler.k8s-01.konturlabs.com
pg_host: london.k8s-01.kontur.io
titiler_url: https://test-apps.konturlabs.com/titiler/
storage_size: 100Gi
storageClass: local-path
db_pool_size: 16

createResource:
  ingress: true
  defaultSecrets: false
  deploymentLivenessProbe: true