# Test values for raster-tiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: 86734ee907dccb3b214c1ad38070a48fbee04ec8
  pullSecretName: none
  usePullSecret: false

db_disable_ssl: false
replicas: 1
envName: test
ingressHost: test-raster-tiler.k8s-01.konturlabs.com
ingressClass: ingress-nginx
base_url: https://test-raster-tiler.k8s-01.konturlabs.com
titiler_url: http://test-titiler.test-titiler.svc
pg_host: db-layers-primary.prod-layers-db.svc
storage_size: 100Gi
storageClass: local-path
db_pool_size: 16
oam_layer_id: openaerialmap

createResource:
  ingress: true
  defaultSecrets: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 30

resources:
  requests:
    cpu: 500m
    memory: 8Gi
  limits:
    cpu: 2
    memory: 512Gi

log_level: info
