# Dev values for raster-tiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: 7a142b040a61d43ae915ec8e5d6d40fcacfc93f0
  pullSecretName: none
  usePullSecret: false

db_disable_ssl: false
replicas: 1
envName: dev
ingressHost: dev-raster-tiler.k8s-01.konturlabs.com
ingressClass: ingress-nginx
base_url: https://dev-raster-tiler.k8s-01.konturlabs.com
titiler_url: http://dev-titiler.dev-titiler.svc
pg_host: db-layers-primary.dev-layers-db.svc
storage_size: 100Gi
storageClass: local-path
db_pool_size: 16
oam_layer_id: openaerialmap
dbCredsSecretName: dev-raster-tiler

createResource:
  ingress: true
  defaultSecrets: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 30

resources:
  requests:
    cpu: 500m
    memory: 4Gi
  limits:
    memory: 512Gi
