# Dev values for raster-tiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: latest
  pullSecretName: none
  usePullSecret: false

db_disable_ssl: false
replicas: 1
envName: geocint
ingressHost: geocint-raster-tiler.k8s-01.konturlabs.com
base_url: https://geocint-raster-tiler.k8s-01.konturlabs.com
ingressClass: ingress-nginx
titiler_url: http://dev-titiler.dev-titiler.svc
pg_host: db-layers-primary.dev-layers-db.svc
storage_size: 100Gi
storageClass: local-path
db_pool_size: 16
oam_layer_id: openaerialmap_geocint
dbCredsSecretName: geocint-raster-tiler

createResource:
  ingress: true
  defaultSecrets: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 30

resources:
  requests:
    cpu: 500m
    memory: 4Gi
  limits:
    memory: 512Gi
