# Prod values for raster-tiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: 94557fdad46bb83770e946002f246bc2e46a6d6f
  pullSecretName: none
  usePullSecret: false

db_disable_ssl: false
replicas: 1
envName: prod
ingressHost: prod-raster-tiler.k8s-01.konturlabs.com
ingressClass: ingress-nginx
base_url: https://prod-raster-tiler.k8s-01.konturlabs.com
titiler_url: http://prod-titiler.prod-titiler.svc
pg_host: db-layers-primary.prod-layers-db.svc
storage_size: 300Gi
storageClass: local-path
db_pool_size: 8
oam_layer_id: openaerialmap
tile_fetch_timeout_ms: "1800000"
fetch_queue_ttl_ms: "3600000"
num_cpus: 24

createResource:
  ingress: true
  defaultSecrets: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 90

resources:
  requests:
    cpu: 200m
    memory: 4Gi
  limits:
    cpu: 32
    memory: 512Gi

log_level: info
