# Dev values for raster-tiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: b3f173540511d2751a81daaa65c5aba9be3f6133
  pullSecretName: none
  usePullSecret: false

db_disable_ssl: false
replicas: 1
envName: dev
ingressHost: dev-raster-tiler.k8s-01.konturlabs.com
ingressClass: ingress-nginx
base_url: https://dev-raster-tiler.k8s-01.konturlabs.com
titiler_url: http://dev-titiler.dev-titiler.svc
pg_host: db-layers-primary.dev-layers-db.svc
storage_size: 100Gi
storageClass: local-path
db_pool_size: 16
oam_layer_id: openaerialmap

createResource:
  ingress: true
  defaultSecrets: false
  deploymentLivenessProbe: true
isOfflineInstallation: false
probeInitialDelaySeconds: 30

resources:
  requests:
    cpu: 500m
    memory: 4Gi
  limits:
    cpu: 2
    memory: 512Gi

storageType: emptydir
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: NotIn
              values:
                - hwn01.k8s-01.kontur.io
