# QUICKSTART values for raster-tiler.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: 0f4ce811e502827a32f7c15912045e9e9995b2db
  pullSecretName: nexus8084
  usePullSecret: true

db_disable_ssl: true
replicas: 1
envName: quickstart
ingressHost: none
base_url: http://raster-tiler.kontur
titiler_url: http://titiler.kontur/titiler/
pg_host: host.docker.internal
storage_size: 5Gi
storageClass: standard
db_pool_size: 4
oam_layer_id: openaerialmap

createResource:
  ingress: true
  defaultSecrets: true
  deploymentLivenessProbe: true
isOfflineInstallation: true
probeInitialDelaySeconds: 90

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 768Mi
