# QUICKSTART values for isochrone-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  tag: develop.f1ce4f86bbc7ad8ed1cfbab87af2cef6b1fb6389.1
  name: nexus.kontur.io:8084/konturdev/isochrone-api
  pullSecretName: nexus8084
  usePullSecret: true

port: 8614
replicas: 1
envName: quickstart
ingressHost: isochrone-api.kontur
dnsNameOuter: "*" #TODO CORS

createResource:
  defaultSecrets: true
  ingress: true
  prometheusRule: false
  serviceMonitor: false
  deploymentLivenessProbe: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 768Mi

databaseHost: host.docker.internal
databasePort: 5432
alertingTime: 10m

hikari:
  maximumPoolSize: 5
  minimumIdle: 2

populationApiUrl: http://insights-api.kontur/insights-api/
calculationWorkersNumber: 3
isochroneTimeLimitSeconds: 1200
isochroneIntervalSeconds: 300
enabledIsochroneProfiles: car

otlpTracesExporter: none
otlpTracesPort: none