apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - epig
  - event-api
  - insights-api
#  - isochrone-api
  - layers-api
  - layers-db-etl
  - layers-tiles-api
  - osrm
  - raster-tiler
  - titiler
  - user-profile-api
  - disaster-ninja
  - keycloak
  - basemap
  - insights-api-db-svc
  - insights-llm-api
  - job-watcher-controller

# Do not comment or remove any lines below unless you intend to kill a few databases
  - event-api-db/overlays/DEV
  - event-api-db/overlays/DEV-PG17
  - event-api-db/overlays/TEST
  - event-api-db/overlays/PROD
  - layers-db/overlays/DEV
  - layers-db/overlays/TEST
  - layers-db/overlays/PROD
  - keycloak-db/overlays/DEV
  - keycloak-db/overlays/TEST
  - keycloak-db/overlays/PROD
  - insights-api-db/overlays/DEV
  - insights-api-db/overlays/TEST-PG17
  - insights-api-db/overlays/PROD-PG17
  - user-profile-api-db/overlays/DEV
  - user-profile-api-db/overlays/TEST
  - user-profile-api-db/overlays/PROD
  - user-profile-api-db-exp/overlays/DEV # experimental
