# Default values for layers-tiles-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
ingressHost: none

image:
  repository: pramsey/pg_tileserv
  pullPolicy: IfNotPresent
  tag: 20220815

HttpPort: 8629
BasePath: /tiles

alertingTime: 10m

createResource:
  defaultSecrets: false
  ingress: false
  prometheusRule: false
  serviceMonitor: false

resources:
  requests:
    cpu: 1
    memory: 1G
  limits:
    memory: 2G