bases:
  - ../../base
namespace: dev-event-api

patchesJson6902:
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-event-api
    path: postgrescluster-s3-backups.yaml
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-event-api
    path: postgrescluster-pgbackrest-adjustment.yaml
#  - target:
#      group: postgres-operator.crunchydata.com
#      version: v1beta1
#      kind: PostgresCluster
#      name: db-event-api
#    path: postgrescluster-resource-adjustment.yaml
  - target:
      group: postgres-operator.crunchydata.com
      version: v1beta1
      kind: PostgresCluster
      name: db-event-api
    path: postgrescluster-assigning.yaml

generatorOptions:
  disableNameSuffixHash: true

